@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5em;
    background-color: white;
    border: solid 1px black;

    /* margin-bottom: 2vh; */
}

.ul-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.li-header {
    list-style-type: none;
    padding: .5vw;
    padding-right: 2vw;
    padding-left: 2vw;
    border-left: solid 1px black;
}

.grayPart {
    width: 100%;
    height: 70vh;
    /* background-color: #D9D9D9; */
    background-image: url(images/fond4.png);
    background-size: cover;
}

.formInscription {
    margin-top: -50vh;
    width: 70%;
    margin-left: 15%;
    padding: 2em;
    border-radius: 100px 0px;
    background-color: #FFA857;
    height: 90vh;
}

#connexion {
    height: 62vh;
    background-color: #FF99C8;
}

.formInscription form {
    display: flex;
    flex-direction: column;
    padding: 4em;
}

.h1 {
    text-align: center;
    font-family: 'Krona one', serif;
    color: white;
}

.h3 {
    text-align: center;
    font-family: 'Krona one', serif;
    color: white;
}

input {
    padding: 1.1em 2em;
    margin: 1em 1.5em;
    background-color: white;
    color: gray;
    border: solid 1px black;
    border-radius: 100px 0px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Open sans', serif;
}

.formInscription form input[type="email"],
.formInscription form input[type="submit"],
.formInscription form input[type="password"] {
    width: calc(100% - 3em);
}

.inputPair {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#questionConnexion {
    margin-top: 2em;
    text-align: center;

    & a {
        color: black;
    }
}

#mdpOublie {
    text-align: right;

    & a {
        color: black;
    }
}

.formInscription form input[type="submit"] {
    margin-top: 2em;
    width: 20%;
    margin-left: 40%;
    background-color: #5FC0CE;
    border: none;
    color: white;
    padding: .9em 2em;
    transition: all .2s;

    &:hover {
        transform: scale(1.1);
        transition: all .2s;
        cursor: pointer;
    }
}



/* |||||||||||||||FOOTER|||||||||||||||||||- */

.footer-partenaire {
    background-color: #325C5C;
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    height: 50vh;
    margin-top: 5vh;
}

.footer-partenaire .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.footer-partenaire h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.partenaires-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.partenaires-logos img {
    max-width: 100px;
    height: auto;
}

.footer-contact p,
.footer-contact a {
    margin: 5px 0;
}

.accueilCiel {
    width: 100%;
    height: 90vh;
    background-image: url(images/fond4.png);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6em;

    & .partiGauche {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40%;

        & p {
            font-size: 1.1em;
            padding: .6em;
        }

        & button {
            width: 150px;
        }

        & .zoneBlanche {
            padding: 1em;
            background-color: rgba(255, 255, 255, 0.76);
        }

    }

}

#btnProgramme {
    padding: 1em;
    background-color: #50B4C2;
    color: white;
    border: none;
    border-radius: 30px;
}



@media (max-width: 768px) {
    .partenaires-logos {
        flex-direction: column;
    }
}


/* //////////////////////////////// */

.objectif-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.objectif-bar {
    flex-grow: 1;
    height: 0.35vw;
    background-color: #325C5C;
    position: relative;
}

.objectif-cercle {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 0.35vw solid #325C5C;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.objectif-text {
    padding: 20px;
    font-size: 3.2vw;
    white-space: nowrap;
    font-family: 'Krona one', serif;
    padding: 3vw;
    color: #325C5C;
}

.objectifs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1em;

    & .categorieObjectif {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

#objectifCentral {
    border-left: solid 1px black;
    border-right: solid 1px black;
    padding-left: ;
}

/* |||||||||||||||HIPPO|||||||||||||||||||- */


.apresInscription {
    display: flex;
    margin: 5%;
    margin-top: -50vh;
    width: 70%;
    margin-left: 15%;
    padding: 2em;
    border-radius: 100px 0px;
    background-color: #FF6B57;
    color:#fff;
    text-align: center;
    flex-direction: column;
    height: 40vh;
}
#ligne {
    display: flex;
    flex-direction: column;
}

.apresInscription form input[type="submit"] {
    margin-top: 2em;
    width: 20%;
    margin-left: 40%;
    background-color: #F9B765;
    border: none;
    color: white;
    padding: .9em 2em;
    transition: all .2s;

    &:hover {
        transform: scale(1.1);
        transition: all .2s;
        cursor: pointer;
    }
}

.apresInscription h1 {
    margin-bottom: 1em; 
}

.apresInscription p {
    margin-bottom: 1.5em; 
}

.apresInscription form select{
    border-radius: 100px 0px;
    width: 20%;
    padding: .9em 2em;
}

/* |||||||||||||||Page2|||||||||||||||||||- */
.titre h1 {
    color: #325C5C;
    text-align: center;
}

.titre h3 {
    color: #325C5C; 
    text-align: center;
    font-family: 'Krona one', serif;
}

.titre {
    display: flex;
    margin: 5%;
    margin-top: -60vh;
    width: 70%;
    margin-left: 15%;
    padding: 2em;
    color: #325C5C;
    text-align: center;
    flex-direction: column;
    border-radius: 100px 0px;
    background-color: #feefd24a;
}


.evenement {
    display: flex;
    margin: 5%;
    margin-top: -5vh;
    width: 70%;
    margin-left: 15%;
    padding: 2em;
    color:#325C5C;
    text-align: center;
    flex-direction: column;
    border-radius: 100px 0px;
    background-color:#FEEFD2;
    margin-bottom: 20%;
}

.titre2 h2 {
    color:#325C5C;
    text-align: center;
    font-family: 'Krona one', serif;
}

.titre2 input[type="submit"] {
    margin-top: 2em;
    width: 20%;
    margin-left: 40%;
    border: none;
    background-color:#FF6B57;
    padding: .9em 2em;
    transition: all .2s;
    color:#fff;

    &:hover {
        transform: scale(1.1);
        transition: all .2s;
        cursor: pointer;
    }

}

/* |||||||||||||||PageDons|||||||||||||||||||- */

.objectif-txt > p {
    padding: 20px;
    font-size: 1.9vw;
    white-space: nowrap;
    font-family: 'Krona one', serif;
    padding: 3vw;
    color: #325C5C;
}

.block {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 0;
    flex-direction: row;
}

.text-container {
    flex: 1;
    padding: 20px;
}

.boxe {
    color: #333;
    text-align: left;
}

.image-container {
    flex: 1;
    padding: 10px;
}

.image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.corp{
    background-color: #96C3DC;

}

.squarezone {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
  }
  
  .square {
    padding: 2%;
    width: 400px;
    height: 300px;
    margin: 10px;
    background-color: white;
    text-align:left;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    border-radius:20px;
    font-size: 20px;
  }

#cercleBlanc {
    background-color: #96C3DC;
    border: 0.35vw solid #fff;
  }

  #texteBlanc {
    color: #fff;
  }

  #barblanc {
    background-color: #fff;
  }

.squareSpan {
    padding-bottom: 1.1em;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    width: 30%;
    text-align: center;
}

.carousel-slide {
    display: none;
}

img {
    width: 100%;
    height: auto;
}